body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background: url("../images/biography-bg.png");
    background-size: cover;
}
h1{
    font-size: 35px;
}
h2{
   margin: 0;
}
p{
    color: dimgray;
}
.top-section .half-width h1{
    margin: 0;
    padding: 0;
}
.orange-color{
    color: rgb(240, 110, 132);
}
.half-width
{
    width: 33%;
    float: left;
    margin-left: 5%;
    padding: 5%;
}
.half-width img
{
     width: 100%; 
     height: 450px;
     margin-top: 50px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(216, 74, 128),rgb(240, 110, 132));
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.top-section{
    background: url("../images/header-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    padding-bottom: 50px;
    clear: both;
}
.biography-section{
    background: url("../images/biography-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    padding-bottom: 50px;
    clear: both;
}
.latest-work-section{
    background: url("../images/latest-work-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
    padding-bottom: 80px;
    clear: both;
}
.experience-section{
    text-align: center;
    background: url("../images/header-bg.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 450px;
    padding-bottom: 100px;
    clear: both;
}
.client-section{
    text-align: center;
    background: url("../images/footer-bg.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 300px;
    padding-bottom: 50px;
    clear: both;
}

.third-width{
    width: 25%;
    float: left;
    margin-left: 3%;
    padding: 2%;
    
}
.third-width img
{
    width: 100%;   
}

.biography-section #center{
    margin-top: 100px;
}
.top-section #center{
    margin-top: 100px;
}

.message-box{
   width: 50%;
   margin: auto;
   padding-top:10px;
   padding-bottom: 10px;
   color: white;
   border-radius: 5px;
   background-color:rgb(240, 110, 132) ;
}
.message-box h3,h5{
    margin: 5px;
    padding: 0;
}
.text-center{
    text-align: center;
}
.client-section h3,h6{
    margin: 0;
    padding: 1px;
}
.client-section h6{
    color: rgba(0, 0, 0, 0.431);
}
.half-width h3{
    margin: 0;
    padding: 0;
}
.devoloper{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 60%;
    background-color: white;
    overflow: auto;
}
#full-stak{
    border-left: 7px solid;
    border-image: linear-gradient(lightsalmon,tomato);
    border-image-slice: 1;
}
#front-end{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}